body {
    background-color: #FFFFFF;
    background-image: url("IMG_2599.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: auto;
    color: #FFFFFF;
    height: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #fc3768;
}

h1 {
    font-size: 7em;
}

h2 {
    padding: 0px;
}

#content {
    height: 100%;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Helvetica";
    color: #FFFFFF;
}

#links {
    flex: 1
}
